# Whitelist: ignore everything by default, then allow only release files.
*

# Allow this gitignore itself
!.gitignore

# Allow the published code + docs + shell wrappers
!README.md
!LICENSE
!probing.py
!scripts/
!scripts/*.sh
!envs/
!envs/README.md
!envs/requirements-*.txt
!envs/conda-*.yaml
